@media (max-width:1024px) {
    .navbar-outer{
        width: 100%;
    }
    .navbar-name{
        width: 26%;
        font-size: 1.1rem;
    }
    .navbar-menu ul{
        padding: 0px 40px;
    }
    .navbar-menu ul li{
        padding: 10px 15px;
    }
    .lets-talk{
        width: 100px;
    }
    .hero-section{
        min-height: 400px;
    }
    .hero-content{
        height: 400px;
        /* padding-left: 65px; */
    }
    .hero-content h2{
        font-size: 2.5rem;

    }
    .hero-content span{
        font-size: 2.5rem;
    }
    .hero-img{
        padding-left: 70px;
        width: 350px;
    }
    .hero-img img{
        height: 330px;
        width: 330px;
    }
    .about .about-part1 h3{
        font-size: 2rem;
    }
    .rangtext span{
        padding-left: 230px;
    }
    .service-content1 .fa-laptop{
        /* padding-left: 93px; */
        padding-top:40px;
    }
    .service-content1 p{
        padding-top: 10px;
    }
    .review .review-heading{
        min-height: 200px;
    }
    .review-heading p{
        font-size: 1rem;
    }
    .foot1 h4{
        font-size: 1.8rem;
    }
    .foot1 p{
        font-size: 1rem;
    }
    .foot2 h4{
        font-size: 1.8rem;
    }
    .foot3 h4{
        font-size: 1.8rem;
    }
    .foot3 .fa-solid{
        padding-top: 30px;
    }
    .foot4 h4{
        font-size: 1.3rem;
    }
    .foot1 .fa-brands{
        padding-left: 20px;
        padding-top: 15px;
    }
    .form{
        width: 50%;
    }
}
@media (max-width:912px) {
    .hero-img{
        padding-left: 25px;
    }
    .forslide .innerslide1{
        display: none;
    }
    .foot1 p{
        width: 100%;
    }
    .foot1 .fa-brands {
        padding-left: 15px;
    }
}
@media (max-width:768px) {
    .navbar-menu{
        display: none;
    }
    .hamburger-icon .fa-solid{
        display: block;
        padding-left: 450px;
    }
    #ex_nav{
        display: none;
    }
    .extra-navbar ul li{
        padding-left: 50px;
    }
    .extra-navbar .lets-talk {
        left: 30px;
    }
    .hero-content h2{
        font-size: 1.5rem;
    }
    .hero-content span{
        font-size: 1.5rem;  
    }
    .hero-content .Contact{
        width: 100px;
    }
    .hero-img {
        width: 45%;
        padding-left: 20px;
    }
    .hero-img img{
        height: 300px;
        width: 300px;
        margin-left: 0px;
    }
    .about .about-part1 h3{
        font-size: 1.5rem;
    }
    .about-part2-persentage .rangtext p{
        font-size: 1rem;
    }
    .about-part2-content .cv{
        margin-top: 20px;
        width: 120px;
    }
    .rangtext span{
        padding-left: 120px;
        font-size: 1rem;
    }
    .service-heading h3{
        font-size: 2rem;
    }
    .my-service .service-content{
        min-height: 280px;
    }

    .service-content1 h4{
        padding-top: 10px;
        font-size: 1rem;
    }
    .service-content1 p{
        font-size: 0.8rem;
    }
    .mywork-content h3{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 1.8rem;
    }
    .forslide .innerslide1{
        display: none;
    }
    .review-heading h4{
        font-size: 1.7rem;
    }
    .review-heading p{
        font-size: 1rem;
        width: 90%;
    }
    .review .review-heading{
        min-height: 200px;
    }
    .review-content img {
        margin-top: 0px;
        margin-bottom: 50px;
    }
   
    .foot1 h4{
        font-size: 1.5rem;
    }
    .foot2 h4{
        font-size: 1.5rem;
    }
    .foot3 h4{
        font-size: 1.5rem;
    }
    .foot1 p{
        font-size: 0.9rem;
    }
    .foot1 .fa-brands{
        padding-left: 10px;
        padding-top: 20px;
        font-size: 1.2rem;
    }
    .foot2 li{
        font-size: 1.1rem;
    }
    .foot3 .fa-solid{
        font-size: 1rem;
    }
    .foot3 a{
        font-size: 0.75rem;
    }
    .foot3 span{
        font-size: 0.75rem;  
    }
    .foot4 button{
        height: 40px;
        width: 90px;
    }
    .form{
        width: 60%;
    }
}
@media (max-width:576px) {
    .navbar-name{
        width: 90%;
    } 
    .hamburger-icon .fa-solid{
        padding-left: 0px;
    }
    .hero-content{
        width: 85%;
    }
    .hero-content h2{
        font-size: 1.8rem;
    }
    .hero-content span{
        font-size: 1.8rem; 
    }
    .hero-img{
        padding-top: 0px;
    }
    .hero-img img{
        margin-left: 40px;
    }
    .about .about-part2 .about-part2-content{
        width: 70%;
    }
    .about .about-part2 .about-part2-persentage{
        width: 100%;
    }
    .service-content .service-content1{
        width: 75%;
        margin-bottom: 20px;
    }
    .review-heading p{
        font-size: 1rem;
    }
    .review-content{
        margin-top: 20px;
    }
    
    
    .footer .foot1{
        width: 80%;
    }
    .foot1 .fa-brands{
        font-size: 1.5rem;
        padding-left: 30px;
        padding-top: 40px;
    }
    .footer .foot2{
        width: 50%;
    }
    .footer .foot3{
        width: 60%;
    }
    .foot3 .fa-solid{
        padding-left: 0px;
    }
    .footer .foot4{
        width: 80%;
    }
    .foot4 button{
        margin-top: 25px;
    }
}
@media (max-width:426px) {

    .hamburger-icon .fa-solid{
        padding-left: 89px;
    }
    .navbar-name{
        width: 55%;
        padding-left: 20px;
        
    }
    .hero-content{
        height: 300px;
        width: 100%;
        padding-left: 50px;
    }
    .hero-content h2{
        font-size:1.6rem;
    }
    .hero-content span{
        font-size:1.6rem;

    }
    .hero-img img{
        margin-left: 35px;
        margin-top: 35px;
    }
    .about .about-part1 h3{
        font-size: 1.3rem;
    }
    .about .about-part2 .about-part2-content{
        height: 330px;
        width: 100%;
    }
    .about .about-part2 .about-part2-persentage{
        height: 330px;
        width: 100%;
    }
    .my-service .service-heading {
       min-height: 90px;
    }
    .my-service .service-content{
        min-height: 800px;
    }
    .service-content .service-content1{
        width: 75%;
    }
    .service-content1 .fa-laptop{
       /* padding-left: 120px; */
    }
   
    .service-content1 p{
        font-size:0.94rem;
    }
    .review .review-heading{
        min-height: 200px;
    }
    .review-content{
        height: 130px;
    }
    .review-heading h4{
        padding-left: 22px;
    }
    .review-heading p{
        padding-left: 30px;
    }
    .review-content img{
        margin-left: 40px;
    }
    .footer .foot1{
        min-height: 200px;
        width: 90%;
        padding-left: 40px;
    }
    .footer .foot2{
        width: 60%;
        min-height: 200PX;
        padding-left: 40px;
    }
    .footer .foot3{
        min-height: 200px;
        width: 60%;
        padding-left: 40px;
    }
    .footer .foot4{
        min-height: 150px;
        width: 90%;
        padding-left: 40px;
    }
    .foot4 h4{
        padding-left: 10px;
    }
    .foot1 .fa-brands{
        padding-top: 40px;
        padding-left: 20px;
    }
    .form{
        width: 90%;
    }
    
}

@media (max-width:376px) {
    .navbar-name{
        width: 55%;
        font-size: 1rem;
    }
    .hamburger-icon .fa-solid{
        padding-left: 76px;
        font-size: 2rem;
    }
    .hero-img{
        padding-top: 100px;
    }
    .hero-img img{
        margin-left: 20px;
    }
    .review-heading p{
        padding-left: 32px;
        font-size: 1rem;
        width: 85%;
    }
    
    .about .about-part1 h3{
        font-size: 1.1rem;
    }
    .footer .foot3{
        min-height: 200px;
        width: 65%;
        padding-left: 40px;
    }

    .form h2{
        font-size: 1.5rem;
    }
    .form label{
        font-size: 1.2rem;
    }
    .form input{
        font-size: 0.8rem;
    }
    .form textarea{
        font-size: 0.8rem;
    }

}
@media (max-width:320px) {

    .hero-img img{
        height: 250px;
        width: 250px;
        margin-left: 15px;
    }
    .navbar-name{
        width: 67%;
        font-size: 0.89rem;
    }
    .hamburger-icon .fa-solid{
    padding-left: 48px;
    font-size: 1.5rem;
    }
    .about .about-part1{
        padding-left: 20px;
    }
    .about .about-part2 .about-part2-content{
        padding-left: 50px;
    }
    .service-content1 .fa-laptop{
        /* padding-left: 85px; */
    }
    .review-heading p{
        /* padding-left: 32px; */
        font-size: 1rem;
        width: 100%;
    }
   
    .review-content img{
       margin-left: 35px; 
    }
    .footer .foot3{
        width: 80%;
    }
    .footer .foot2{
        width: 80%;  
    }
    .foot2 li{
        padding-top:10px;
}
}
